{{ $containers := getvs "/containers/containers/*/name" }}
{{ range $containers }}{{   $contname := . }}{{   $jmxPath := printf "/containers/containers/%s/labels/com.camptocamp.georchestra_jmx" $contname }}{{   $isJmx := getv $jmxPath "false" }}{{   if eq $isJmx "true" }}<Connection>
        ServiceURL "service:jmx:rmi:///jndi/rmi://{{ $contname  }}:1099/jmxrmi"
        Host "{{ $contname }}"
        Collect "garbage_collector"
        Collect "memory"
        Collect "jetty"
</Connection>
{{end}}{{end}}
